In [4]:
import pandas as pd
print(pd.__version__)

FILE_PATH = 'material/dados.csv'

df        = pd.read_csv(FILE_PATH)
df.head(5)

2.2.0

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [5]:
from scipy.special import comb

# I want to pair four friends, how many combinations can be done?
combinations = comb(N=4, k=2)
combinations

6.0

In [6]:
# Mega Sena
mega_sena = comb(N=60, k=6)
prob_ms   = 1 / mega_sena
print(f'{prob_ms:.15f}')

0.000000019974489

Em um concurso para preencher uma vaga de cientista de dados temos um total de **10 questões** de múltipla escolha com **3 alternativas possíveis** em cada questão. **Cada questão tem o mesmo valor.** Suponha que um candidato resolva se aventurar sem ter estudado absolutamente nada. Ele resolve fazer a prova de olhos vendados e chutar todas as resposta. Assumindo que a prova **vale 10 pontos e a nota de corte seja 5**, obtenha a probabilidade deste candidato **acertar 5 questões** e também a probabilidade deste candidato **passar para a próxima etapa do processo seletivo**.

In [23]:
n = 10 # Number of questions
p = 1/3 # Probability to answer correctly one question (1 / number of question)
q = 1 - p
k = 5 # Number of successful events

prob5 = comb(n, k) * ((p ** k) * (q ** k))

print(f'{prob5}, {prob5*100:.2f}%')

0.13656454808718185, 13.66%

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.binom.html

In [24]:
from scipy.stats import binom

prob5_2 = binom.pmf(k, n, p)
print(f'{prob5_2}, {prob5_2*100:.2f}%')

0.13656454808718146, 13.66%

In [25]:
prob_all = binom.pmf(5, n, p) + binom.pmf(6, n, p) + binom.pmf(7, n, p) + binom.pmf(8, n, p) + binom.pmf(9, n, p) + binom.pmf(10, n, p)
prob_all

0.21312808006909476

In [28]:
prob_all2 = binom.pmf([i for i in range(5,11)], n, p).sum()
prob_all2

0.21312808006909476

In [29]:
binom.cdf(10, n, p)

1.0

In [30]:
prob_all3 = 1 - binom.cdf(4, n, p)
prob_all3

0.21312808006909523

In [32]:
prob_all4 = binom.sf(4, n, p)
prob_all4

0.21312808006909525